<a href="https://colab.research.google.com/github/adhaar-star/CSCI340-DNS-Name-Resolution-Engine/blob/master/EXAM_TITANIC_GettingStarted.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#EXAM - Spring 2021 - TITANIC
##This Notebook is the first in the set*. The goal here is to Get Started. Load & Explore Data

*[Once you complete have a good start on these initial goals, you should continue with the next phases at your own pace].

IMPORT LIBRARIES & DATA

Read training data into a dataframe

Generally describe and view the Data

Visualize the data, paying special attention to null or missing values (consider sns.heatmap)

Exploratory analysis of targets/labels - counting & plotting (consider sns.countplot)

Exploratory analysis of age, sex, pclass, siblings, parents, fares, etc. -  distribution, counting & plotting (consider sns.distplot)

In [9]:
import pandas as pd

In [10]:
titanic = pd.read_csv("/content/titanic_train.csv")

In [11]:
titanic.values

array([[1, 0, 3, ..., 7.25, nan, 'S'],
       [2, 1, 1, ..., 71.2833, 'C85', 'C'],
       [3, 1, 3, ..., 7.925, nan, 'S'],
       ...,
       [889, 0, 3, ..., 23.45, nan, 'S'],
       [890, 1, 1, ..., 30.0, 'C148', 'C'],
       [891, 0, 3, ..., 7.75, nan, 'Q']], dtype=object)

In [ ]:
titanic